.row {
  width: 280px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

#content{

}

#calculator-body {
background-color: #140033;
width: 300px;
height: 350px;
border-radius: 14px;
margin-top: 50px;
border-style: outset;
}

#display {
width:250px;
height: 40px;
background-color:  #e5ffff;
border-radius: 4px;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
text-align: right;
border-style: inset;

}


#equal{
width: 245px;

}
.key {
background-color: orange;
width: 50px;
height: 30px;
margin: 4px;
border-style: outset;
}
.operator{
  background-color: lightblue;
}
